AWScloud
AWSManagementConsole
corporatedatacenter
disk
forums
genericdatabase
Internet
Internetalternate1
Internetalternate2
mobileclient
multimedia
officebuilding
SAMLtoken
SSLpadlock
tapestorage
virtualprivatecloud
